<div *ngIf="addedlocation == false" class="add-location">
  <h1 class="head">Add Location</h1>
  <form class="add-form" [formGroup]="locationForm" (ngSubmit)="addLocation()">
    <div class="location-name">
      <label for="location" class="">Location : </label>
      <input
        type="text"
        name="location"
        id="location"
        placeholder="location"
        value="{{ location }}"
        formControlName="location"
        class=""
      />
    </div>
    <button type="submit" class="button">Submit</button>
  </form>
</div>
