<div class="theatre-page" *ngIf="isLoggedIn">
  <div *ngIf="display == false">
    <h1>No Theatres to show for selected location & movie</h1>
  </div>
  <div *ngIf="isLoggedIn" class="theatre-tag">
    <div *ngFor="let theatre of theatres" class="theatre-details">
      <div *ngIf="getInf == false" class="theatreinfo">
        <button class="" (click)="openseats(theatre.theatreName)">
          <strong>{{ theatre.theatreName }}</strong>
        </button>
        <button class="" (click)="getInfo(theatre)">
          <p>get info &#8594;</p>
        </button>
      </div>
      <div *ngIf="getInf == true" class="theatre-info">
        <p class="">Theatre Details are :</p>
        <div class="">
          <p class="">Theatre Name :</p>
          <p class="">{{ theatre.theatreName }}</p>
          <p class="">Ticket Price :</p>
          <p class="">{{ theatre.price }}</p>
          <button class="" (click)="goBack()"><p>back &larr;</p></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoggedIn==false" class="unauthorized-page">
  <app-unauthorized-page></app-unauthorized-page>
</div>
