<div *ngIf="isLoggedIn" class="page">
  <p class="heading">Booking Details are :</p>
  <div class="elements">
    <div class="attribute">
      <span class="tag">Booking Id :</span><span>{{ bookingId }}</span>
    </div>
    <div class="attribute">
      <span class="tag">Booking Time :</span
      ><span>{{ booking.bookingTime }}</span>
    </div>
    <div class="attribute">
      <span class="tag">Location Name :</span
      ><span>{{ booking.locationName }}</span>
    </div>

    <div class="attribute">
      <span class="tag">Movie Name :</span><span>{{ booking.movieName }}</span>
    </div>

    <div class="attribute">
      <span class="tag">Theatre Name :</span
      ><span>{{ booking.theatreName }}</span>
    </div>
    <div class="attribute">
      <span class="tag">Transaction Id :</span
      ><span>{{ booking.transactionId }}</span>
    </div>
    <div class="attribute">
      <span class="tag">Total Price paid :</span
      ><span>{{ booking.totalPrice }}</span>
    </div>
    <div class="attribute">
      <span class="tag">Booked Seats are :</span>
      <div *ngFor="let seat of seats">
        <span class="attribute">{{ seat }} &nbsp;&nbsp;</span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isLoggedIn" class="unauthorized-page">
  <app-unauthorized-page></app-unauthorized-page>
</div>
