<div class="location-page" *ngIf="isLoggedIn && role[0]=='ROLE_USER'">
  <div class="location">
    <div class="search" *ngIf="display == true">
      <input
        type="text"
        class=""
        placeholder="search location"
        #filter
      />&nbsp;&nbsp;
      <button
        class="searchbutton"
        type="button"
        (click)="filterResults(filter.value)"
      >
        Search
      </button>
    </div>
    <div class="locations" *ngIf="display == false">
      <h1>No locations to show.</h1>
    </div>
  </div>
  <div *ngIf="searchFound == true">
    <div *ngFor="let loca of filteredLocations">
      <button
        class=""
        (click)="openmovies(loca)"
      >
        <strong>{{ loca.locationName }}</strong>
      </button>
    </div>
  </div>
  <div class="locations" *ngIf="searchFound == false">
    <div *ngFor="let location of locations" class="locationname">
      <button
        class="movie-button"
        (click)="openmovies(location)"
      >
        <strong>{{ location.locationName }}</strong>
      </button>
    </div>
  </div>
</div>
<div *ngIf="!isLoggedIn" class="unauthorized-page">
  <app-unauthorized-page></app-unauthorized-page>
</div>
