<div class="location-page" *ngIf="isLoggedIn && role[0] == 'ROLE_USER'">
  <div class="location">
    <div class="search" *ngIf="display == true">
      <input
        type="text"
        class=""
        placeholder="search location"
        #filter
      />&nbsp;&nbsp;
      <button
        class="searchbutton"
        type="button"
        (click)="filterResults(filter.value)"
      >
        Search
      </button>
    </div>
    <div class="locations" *ngIf="display == false">
      <h1>No locations to show.</h1>
    </div>
  </div>
  <div class="container" *ngIf="searchFound == true">
    <div class="row" *ngFor="let loca of chunkedArray(filteredLocations, 7)">
      <div class="col" *ngFor="let item of loca">
        <button class="ele" (click)="openmovies(item)">
          <strong>{{ item.locationName }}</strong>
        </button>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="searchFound == false">
    <div class="row" *ngFor="let loca of chunkedArray(locations, 7)">
      <div class="col" *ngFor="let item of loca">
        <button class="movie-button" (click)="openmovies(item)">
          <strong>{{ item.locationName }}</strong>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isLoggedIn == false" class="unauthorized-page">
    <app-unauthorized-page></app-unauthorized-page>
  </div>
</div>
