<div *ngIf="addedtheatre==false" class="add-theatre">
  <h1 class="head">Add Theatre</h1>
  <form
    class="add-form"
    [formGroup]="theatreForm"
    (ngSubmit)="addTheatre()"
  >
    <label for="location" class="location-label"><strong> Choose a Location  :</strong> </label>
    <select  name="location" id="location" formControlName="location" (change)="onSelectlocation($event)">
      <option value="{{location.locationName}}" *ngFor="let location of locations1" >{{location.locationName}}</option>

    </select>
    <br><br>

    <label for="movie" class="movie-label"><strong> Choose a Movie  :</strong> </label>
    <select  name="movie" id="movie" formControlName="movie" (change)="onSelectMovie($event)">
      <option value="{{movie.movieName}}" *ngFor="let movie of movies" >{{movie.movieName}}</option>

    </select>
  <!-- </div> -->
  <div class="theatre-name">
    <label for="theatre" class="">Theatre :</label>
    <input
      type="text"
      name="theatre"
      id="theatre"
      placeholder="theatre"
      value="{{ theatreDto.theatreName}}"
      formControlName="theatre"
      class=""
    />
  </div>

  <div class="theatre-price">
    <label for="price" class="">Price :</label>
    <input
      type="text"
      name="price"
      id="price"
      placeholder="price"
      value="{{ theatreDto.price}}"
      formControlName="price"
      class=""
    />
  </div>
  <button
      type="submit"
      class="button"

    >
      Submit
    </button>
  </form>
</div>

