<div *ngIf="seatadded == false" class="add-seat">
  <h1 class="head">Add Theatre</h1>
  <form class="add-form" [formGroup]="seatForm" (ngSubmit)="addSeats()">
    <div class="seat-number">
      <label class="" for="noofseats"><strong> No of seats :</strong> </label>
      <input
        type="text"
        name="noofseats"
        id="noofseats"
        formControlName="noofseats"
      />
    </div>
    <label for="location" class="location-label"
      ><strong> Choose a Location :</strong>
    </label>
    <select
      name="location"
      id="location"
      formControlName="location"
      (change)="onSelectlocation($event)"
    >
      <option
        value="{{ location.locationName }}"
        *ngFor="let location of locations2"
      >
        {{ location.locationName }}
      </option>
    </select>
    <br /><br />

    <label for="movie" class="movie-label"
      ><strong> Choose a Movie :</strong>
    </label>
    <select
      name="movie"
      id="movie"
      formControlName="movie"
      (change)="onSelectMovie($event)"
    >
      <option value="{{ movie.movieName }}" *ngFor="let movie of movies1">
        {{ movie.movieName }}
      </option>
    </select>
    <br /><br />
    <!-- </div> -->
    <label for="theatre" class="theatre-label"
      ><strong> Choose a Theatre :</strong>
    </label>
    <select
      name="theatre"
      id="theatre"
      formControlName="theatre"
      (change)="onSelectTheatre($event)"
    >
      <option
        value="{{ theatre.theatreName }}"
        *ngFor="let theatre of theatres"
      >
        {{ theatre.theatreName }}
      </option>
    </select>

    <!-- <label for="seatStatus" ><strong> Choose Status  :</strong> </label>
    <select  name="seatStatus" id="movie" formControlName="seatStatus">
      <option value="EMPTY">EMPTY</option>
      <option value="BOOKED">BOOKED</option>

    </select> -->
    <button type="submit" class="button">Submit</button>
  </form>
</div>
