.add-seat {
  background-color: aliceblue;
  height: 15rem;
  width: 25rem;
  margin: 2rem 30rem;
  .head {
    text-align: center;
    margin-top: 5rem;
    padding-top: 1rem;
  }

  .theatre-price,
  .theatre-name,
  .seat-number {
    margin-left: 4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .location-label,
  .movie-label,
  .theatre-label {
    margin-left: 4rem;
    margin-bottom: 1rem;
  }
  select {
    width: 6rem;
  }

  .button {
    margin-left: 10rem;
    margin-top: 2rem;
  }
  .actionBtn {
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  webcam {
    margin-left: 8rem;
    margin-top: 2rem;
  }
  label {
    font-weight: 600;
  }
}
