<div class="seat-page" *ngIf="isLoggedIn">
  <div *ngFor="let seat of seats" class="seat1">
    <button
      [ngClass]="{
        'red': seat.seatStatus === 'RESERVED',
        'green': seat.seatStatus === 'EMPTY',
        'blue': seat.seatStatus === 'SELECTED'
      }"
      (click)="selectseat(seat)"
      [disabled]="seat.seatStatus === 'RESERVED'"
    >
      <strong>{{ seat.seatId }}</strong>
    </button>
  </div>
</div>

<div class="book" *ngIf="isLoggedIn">
  <button (click)="book()">Book</button>
</div>

<div *ngIf="!isLoggedIn" class="unauthorized-page">
  <app-unauthorized-page></app-unauthorized-page>
</div>
