<div *ngIf="isLoggedIn && role[0]=='ROLE_USER'">
  <div class="moviepage">
    <div  class="search" *ngIf="display == true">
      <input
        type="text"
        class=""
        #filter
      />&nbsp;&nbsp;
      <button
        class="search-button"
        type="button"
        (click)="filterResults(filter.value)"
      >
        Search
      </button>
    </div>
    <div *ngIf="display == false">
      <h1>No Movies to show for selected location</h1>
    </div>
  </div>
  <div *ngIf="searchFound == true" class="moviedetails">
    <div class="movieinfo" *ngFor="let loca of filteredMovies">
      <img
        src="{{ loca.movieImage }}"
        class=""
      />
      <button
        class=""
        (click)="opentheatres(loca.movieName)"
      >
        <strong>{{ loca.movieName }}</strong>
      </button>
    </div>
  </div>
  <div *ngIf="searchFound == false" class="moviedetails" style="display: flex; flex-direction: row;margin: 1rem;">

    <div class="movie" *ngFor="let movie of movies" style="display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;">
      <img
        src="{{ movie.movieImage }}"
        class=""
      />
      <button
        class=""
        (click)="opentheatres(movie.movieName)"
      >
        <strong>{{ movie.movieName }}</strong>
      </button>
    </div>
  </div>
</div>
<div *ngIf="!isLoggedIn" class="unauthorized-page">
  <app-unauthorized-page></app-unauthorized-page>
</div>
