.unauthorized-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.moviepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  .search {
    display: flex;
    margin: 2rem;
  }

  .ele {
    padding: 10px;
    margin: 5px;
  }
}
